* {
    -moz-box-sizing: border-box;
         box-sizing: border-box;
}

body {
    background: lightyellow;
    margin: 2em;
    padding-bottom: 200px;
}

#cat-img {
    height:300px;
}
#cat-list li{
  cursor: pointer;
}

